*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    padding: 1px;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
}
.logo img{
    height: 50px;
    padding-right: 50px;
}
.icons{
    display: flex;
    margin-right: 50px;
}
.icon > .MuiSvgIcon-root{
    font-size: xx-large;
    cursor: pointer;
    padding: 5px 20px;
}
.icon > .MuiSvgIcon-root:hover{
    color: #00C2CB;
    border-radius: 10px;
    background-color: lightcyan;
}
.searchbar{
    display: flex;
    align-items: center;
    border: 1px solid #00C2CB;
    padding:5px;
    border-radius: 5px;
}
.searchbar input{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(49,49,49);
}
.searchbar .MuiSvgIcon-root{
    color:gray ;
}
.remainder{
    display: flex;
    align-items: center;
    margin-left:30px;
}
.remainder .avatar{
    cursor: pointer;
    
}
.remainder .MuiSvgIcon-root{
    font-size: xx-large;
    margin-left: 20px;
    cursor: pointer;
}
.remainder .MuiSvgIcon-root:hover{
    color:#00C2CB; 
}
.remainder .MuiButton-root{
    color:#fff;
    margin-left:30px;
    cursor: pointer;
    padding-top:5px;
    padding-bottom: 5px;
    text-transform: inherit;
    border-radius: 15px;
    background-color:#00C2CB;
    margin-left:10px;
}

.remainder .MuiButton-root:hover{
    color:#fff;
    background-color:#03d8e4;
    
}

