.quoraBox{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding:10px;
    border:1px solid lightgrey;
    background-color:white;
    align-items: left;
    border-radius: 8px;
    cursor: pointer;
}

.quoraBox:hover{
    border:1px solid grey;
}

.quoraBox_info{
    align-items:center;
    display:flex;
    background-color:white;
}

.quoraBox_info >h5{
    color: rgb(129,129,129);
    font-weight: 300;
    margin-left:10px;
    font-weight: bold;
}

.quoraBox_quora{
    display:flex;
    margin-top:8px;
}

.quoraBox_quora > p{
    color:gray;
    font-weight: bolder;
    font-size: large;
}