.sidebarOptions{
    display:flex;
    flex-direction: column;
}

.sidebarOption{
    display:flex;
    align-items:center;
    padding:10px;
    cursor:pointer;
    background-color:bisque;
}

.sidebarOption:hover{
    background-color: #C1F5FB;
    border-radius: 5px;
}

.sidebarOption > img{
    height:30px;
    margin-left: 20px;
    border-radius: 5px;
}

.sidebarOption > p{
    color:grey;
    font-weight: 500;
    margin-left: 10px;
}

.sidebarOption > .MuiSvgIcon-root{
    color:gray;
    font-size:medium;
    margin-left: 20px;
}

.sidebarOption > .text{
    margin-left: 23px;
}