.widget{
    flex:0.2;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-right:20px;
    border: 1px solid lightgray;
    border-radius:5px;
    max-height: 85vh;
    background-color:white;
}

.widget__header{
    border-bottom: 1px solid lightgray;
    background-color:white;
}