.sidebarOptions {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.sidebarOption {
  display:flex;
    align-items:center;
    padding:10px;
    cursor:pointer;
    background-color:#fff;
}

.sidebarOption:hover {
  background-color: #C1F5FB;
    border-radius: 5px;
}
.sidebarOption > img {
  height:30px;
  margin-left: 20px;
  border-radius: 5px;
}

.sidebarOption > .MuiSvgIcon-root {
  color:gray;
    font-size:medium;
    margin-left: 25px;
}
.sidebarOption > p {
  color:grey;
    font-weight: 500;
    margin-left: 10px;
}

.sidebarOption > .text {
  margin-left: 18px;
}
